a{
  color: white;
  font-size: 20px;
}

body{
  background-color: DarkGray;
}

h3{
  display: inline;
  font-family: 'Lucida Sans Unicode';
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  top: 25px;
  left: 50px;
}

p{
  font-family: 'Lucida Sans Unicode';
  font-size: 20px;
}

hr{
  border: 1px dotted white;
}

.header{
  background-image: url('images/manhattanSkyline.jpg');
  background-position: 0px 500px;
  border: 3px solid black;
  height: 300px;
  opacity: .8;
}

.header h2{
  color: white;
  display: inline;
  font-size: 40px;
  left: 100px;
  position: relative;
  top: 125px;
}

.header li{
  border: 1px solid white;
  display: inline;
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
  top: 175px;
}

.aboutMeListing p{
  display: block-inline;
  position: relative;
  left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  line-height: 3;
}

#graduation{
  border: 10px solid white;
  position: absolute;
  bottom: 350px;
  left: 1000px;
  display: inline;
  width: 650px;
  height: 500px;
}

.aboutMeListing h2{
  background-color: #FFFFFB;
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  padding: 15px 0 15px 0;
  position: relative;
  bottom: 25px;
  width: 100%;
}

.aboutMeListing li{
  display: inline;
  margin: 50px;
}

.aboutMeListing ul{
  margin-left: 50px;
  width: fit-content;
}

.aboutMeListing{
  background-image: url('images/aboutMeBackground.jpg');
  background-size: cover;
  opacity: .8;
  position: relative;
}

.languages img{
  width: 180px;
  height: 180px;
  margin-bottom: 100px;
}

#java{
  width: 100px;
  height: 180px;
  position: relative;
  left: 175px;
}

#sql{
  position: relative;
  height: 170px;
  width: 180px;
  left: 205px;
}

.projectListing li{
  display: inline;
}

.projectListing h2{
  background-color: #FFFFFB;
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  padding: 15px 0 15px 0;
  position: relative;
  bottom: 35px;
  width: 100%;
}

.projectListing img{
  border: 2px solid white;
  margin-bottom: 50px;
  position: relative;
  width: 100px;
  height: 80px;
  left: 80px;
}

.projectListing p{
  color: white;
  text-shadow: 2px 2px black;
  display: inline;
  text-align: center;
  position: relative;
  left: 140px;
  bottom: 90px;
}

.projectListing{
  background-image: url('images/projectBackground.jpg');
  background-size: cover;
  background-position: 0px 575px;
  opacity: .8;
  position: relative;
  top: 10px;
}

.navigation{
  color: white;
  position: relative;
}

#footer{
  position: relative;
}

#footer p{
  position: relative;
  top: 25px;
  left: 40px;
}

#footer img{
  display: inline;
  position: relative;
  width: 50px;
  height: 50px;
  left: 450px;
  bottom: 40px;
}
